script_name: rec_radiko.sh            # 録音に使うスクリプト
agqr_stream_url: rtmp://fms-base1.mitene.ad.jp/agqr/aandg22
cron:
        user: root                            # cronの実行ユーザ  
        file: /etc/cron.d/radiko              # cronの設定ファイル置き場  
        path: /usr/local/bin:/usr/bin:/bin    # cronでの実行時パス 
podcast:
        url: http://www.example.jp/radiko-cast/  # 外から見たpublicディレクトリ
recordings:
        kurousa:  # 録音の設定名（ファイル名になるので半角英数推奨)
                channel: QRR   # 放送曲
                name: 田村ゆかりのいたずら黒うさぎ  # 表示名
                day: 日                             # 曜日
                time: "0:00"                    # 開始時間
                duration: 30                        # 長さ(分)
        smile-gang:
                channel: AGQR   # A&G+
                name: 人生道でも飯田里穂
                day: 土
                time: “19:00”
                duration: 30
